* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 5rem;
    --green: #76c853;
    --greyy: #111;

    --gap-tiny: 1rem;
    --gap-x-small: 2rem;
    --gap-small: 4rem;
    --gap-medium: 6rem;
    --gap-large: 8rem;
    --gap-x-large: 16rem;

    --transition-time: 0.2s;
}

body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}

/* Photo by Bench Accounting on Unsplash*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image:
        linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3)),
        url("images/header-bg.jpg");
    background-position: center;
    background-size: cover;
}

header .compartment {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    gap: var(--gap-x-small);
    justify-content: flex-end;
    height: var(--nav-height);
}

/* Nav buttons */
nav a {
  font-size: 1.25rem;
}

section {
    padding-top: var(--gap-large);
    padding-bottom: var(--gap-x-small);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h2::after {
    content: "";
    display: block;
    height: 0.25rem;
    width: var(--gap-large);
    background-color: var(--green);
}

h3 {
    font-size: 2rem;
}

ul {
    list-style-position: inside;
}

/* Main container used to compartmentalize content */
.compartment {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 0.75rem 2.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid var(--green);
    font-size: 1.5rem;
}

/* For hyperlinks inside of buttons */
.plain-link {
    color: inherit;
    text-decoration: none;
}
.plain-link:hover {
    text-decoration: none;
}

/* Introduction and call-to-action box */
.compartment-nameplate {
    height: calc(100% - var(--nav-height));
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.compartment-nameplate p {
    margin: 1rem 0 3rem 0;
}
.nameplate {
    padding-left: var(--gap-x-small);
}

/* Subcontainer for project information */
.projectbox {
    margin-top: var(--gap-small);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-x-large);
}
.projectinfo > * {
    margin-top: var(--gap-x-small);
}
.projectlinks {
    display: flex;
    align-items: center;
    gap: var(--gap-tiny);
}
.projectlinks > p:first-child {
    border-bottom: 2px solid var(--green);
}
.icon {
    height: 2rem;
    transition: all var(--transition-time);
}
.icon:focus,
.icon:hover {
    transform: scale(1.25);
}
.projectimg {
    max-width: 300px;
}
.projectimg img {
    object-fit: contain;
    width: 100%;
}