* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 1280px;
    --nav-height: 4rem;
    --green: rgba(118, 200, 83, 1);
    --green-trans: rgba(118, 200, 83, 0.6);
    --grey: #aaa;

    --gap-tiny: 1rem;
    --gap-x-small: 2rem;
    --gap-small: 4rem;
    --gap-medium: 6rem;
    --gap-large: 8rem;
    --gap-x-large: 16rem;
    --gap-timeline: 3rem;

    --timeline-width: 0.5rem;
    --timeline-icon-size: 3rem;
    --transition-time: 0.2s;
}

/* vvv PAGE DEFAULTS vvv */
body {
    background-color: white;
    color: black;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
}
h1 { font-size: 5rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
p { margin-bottom: var(--gap-x-small); }
section, footer {
    padding-top: var(--gap-medium);
    padding-bottom: var(--gap-small);
}
nav, section { border-bottom: 1px solid var(--grey); }
ul { list-style-position: inside; }
.btn {
    border: 2px solid var(--green);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    padding: var(--gap-tiny) var(--gap-x-small);
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    display: inline-block; /* this line makes margin/padding work right */
}
.compartment {
    max-width: var(--max-width);
    padding: 0 2rem;  /* be offset in narrow viewport */
    margin: 0 auto;   /* be centered in wide viewport */
}
.icon {
    height: 3rem;
    transition: all var(--transition-time);
}
.icon:hover { transform: scale(1.25); }
.plain-link {
    /* make hyperlinks look like normal text */
    color: inherit;
    text-decoration: none;
}
.section-title {
    margin-bottom: var(--gap-small);
}
.section-title::after {
    content: "";
    display: block;
    height: 0.25rem;
    width: var(--gap-large);
    background-color: var(--green);
}
/* ^^^ PAGE DEFAULTS ^^^ */

/* vvv NAV BAR vvv*/
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    height: var(--nav-height);
}
#nav-buttons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-x-small);
    font-size: 1.25rem;
}
nav a::after {
    content: "";
    display: block;
    height: 0.25rem;
    width: 0;
    background-color: var(--green);
    transition: all var(--transition-time);
}
nav a:hover::after { width: 100%; }
/* ^^^ NAV BAR ^^^ */

/* vvv HEADER/LANDING vvv */
header {
    height: calc(100vh - var(--nav-height));
    background-image:
        /* Photo by Bench Accounting on Unsplash */
        linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3)),
        url("images/header-bg.jpg");
    background-position: center;
    background-size: cover;
}
header .compartment {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
/* ^^^ HEADER/LANDING page ^^^ */

/* vvv PROJECT CARD vvv */
.project-card {
    margin-bottom: var(--gap-small);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-large);
}
.project-info > * { margin-bottom: var(--gap-x-small); }
.repo-link {
    display: flex;
    align-items: center;
    gap: var(--gap-tiny);
}
.repo-link > p:first-child {
    border-bottom: 0.125rem solid var(--green);  /* underline "Visit Repo" */
    margin-bottom: 0.5rem;                       /* point slightly above icon center */
}
.project-img {
    max-width: 300px;
}
.project-img img {
    object-fit: contain;
    width: 100%;
}
/* ^^^ PROJECT CARD ^^^ */

/* vvv TIMELINE vvv*/
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
}
.timeline::after {
    content: "";
    background-color: var(--green-trans);
    position: absolute;
    top: 0;
    left: calc(25% - var(--gap-timeline)); /* align with card and shift to left */
    height: 100%;
    width: var(--timeline-width);
    margin-left: -0.5rem;
    z-index: -1;
    animation: moveline 5s linear forwards;  /* seconds = number of cards */
}
/* ^^^ TIMELINE ^^^ */

/* vvv TIMELINE CARD vvv*/
.timeline-card {
    background: var(--green-trans);
    border-radius: 1rem;
    position: relative;
    width: 50%;
    padding: var(--gap-x-small);
    margin-bottom: var(--gap-x-small);
    opacity: 0;
    animation: movedown 1s linear forwards;
}
.timeline-info {
    background: white;
    border-radius: 1rem;
    position: relative;
    padding: var(--gap-tiny);
    font-size: 1rem;
}
.timeline-pointer {
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid white;
    position: absolute;
    top: 1rem;
    left: -0.9rem;
    height: 0;
    width: 0;
}
.timeline-icon {
    background: white;  /* SVGs are not opaque. */
    border-radius: 50%;
    position: absolute;
    /* shift icon to line right edge, then shift half icon width, then shift half line width */
    left: calc(-1 * var(--gap-timeline) - var(--timeline-icon-size) / 2 - var(--timeline-width) / 2);
    height: var(--timeline-icon-size);
    width: var(--timeline-icon-size);
}
.timeline-icon img { width: 100%; }
/* ^^^ TIMELINE CARD ^^^ */

/* vvv TIMELINE ANIMATION vvv */
@keyframes moveline {
    /* line motion */
    0% { height: 0 }
    100% { height: 100% }
}
@keyframes movedown {
    /* card motion */
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.timeline-card:nth-child(2) { animation-delay: 1s; }
.timeline-card:nth-child(3) { animation-delay: 2s; }
.timeline-card:nth-child(4) { animation-delay: 3s; }
.timeline-card:nth-child(5) { animation-delay: 4s; }
/* ^^^ TIMELINE ANIMATION ^^^ */

/* vvv CONTACT INFO vvv */
#contact-card { max-width: calc(var(--max-width) / 2); }
/* ^^^ CONTACT INFO ^^^ */

/* vvv FOOTER vvv */
#footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-x-small);
}
/* ^^^ FOOTER ^^^ */